<form class="upload" action="/upload" method="POST" enctype="multipart/form-data">
	I'd suggest firstly 
	<label id="filelabel" class="primary button" for="file">Choosing</label>
	a file, followed by 
	<input class="secondary button" type="submit" value="Uploading">
	it.

	<input id="file" class="hidden" type="file" accept=".png, .jpg" name="file" onchange="showfilename()" />
</form>

<div>
	<% @images.each do |image| %>
	<div class="image-container">
		<span class="close" href="#" onclick="destroy(<%= image.id %>)">delete</span>

		<img src="/image?id=<%= image.id %>" />
		<span class="info"><%= image.filename %> (<%= image.size %> MB) <%= DateHelper.since_upload(image.created_at.to_datetime) %></span>
	</div>
	<% end %>
</div>